@font-face {

    font-family: 'Font1';
    src: url("./fonts/font1.ttf");
}

@font-face {

    font-family: 'Font2';
    src: url("./fonts/font2.ttf");
}

@font-face {

    font-family: 'Font3';
    src: url("./fonts/font3.ttf");
}

@font-face {

    font-family: 'Font4';
    src: url("./fonts/font4.ttf");
}

@font-face {

    font-family: 'Font5';
    src: url("./fonts/font5.ttf");
}

@font-face {

    font-family: 'Font6';
    src: url("./fonts/font6.ttf");
}

body {
	margin: 0;
}

table {
	
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

td {
	
	padding: 5px;
	vertical-align: middle;
	color: #fff;
	transition: background-color 0.5s ease-out;
}

table, tr, td {
	
	border-collapse: collapse;
}

h1 {
	
	opacity: 1;
}

img.meliLogo {
	
	margin: auto;
	display: none;
	opacity: 0;
}

a {
  
  text-transform: capitalize;
  color:#fff;
  text-decoration: none;
}

#bubbles {
	
	position: absolute;
	width: 100%;
	height: 100%;
}


.bubble {
	
	z-index: 8;
	
	opacity: 0;
	position: absolute;
	width: 100px;
	height: 100px;
  	overflow: hidden;
	top: calc(100% - 100px);
  	left: 20%;
}


.bubble img {
	
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
}

.ball {
	
	border-radius: 50%;
}

.ball:before {
	
	content: "";
	position: absolute;
	top: 1%;
	left: 5%;
	width: 90%;
	height: 90%;
	border-radius: 100%;
	background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
	-webkit-filter: blur(5px);
	filter: blur(5px);
	z-index: 20;
}

.ball:after {
	
	content: "";
	position: absolute;
	display: none;
	top: 5%;
	left: 10%;
	width: 80%;
	height: 80%;
	border-radius: 100%;
	-webkit-filter: blur(1px);
	filter: blur(1px);
	z-index: 20;
	-webkit-transform: rotateZ(-30deg);
	transform: rotateZ(-30deg);
}

.ball .shadow {
	
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
	-webkit-transform: rotateX(90deg) translateZ(-160px);
	transform: rotateX(90deg) translateZ(-160px);
	z-index: 10;
}
  
.ball.plain {
	
	background: black;
}

.ball.plain:before, .ball.plain:after {
	
	display: none;
}
  
.ball.bubble:before {
	
	-webkit-filter: blur(0);
	filter: blur(0);
	height: 80%;
	width: 40%;
	background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
	-webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
	transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}

.ball.bubble:after {
	
	display: block;
	background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%);
}

.ball.bubble {
	
	-webkit-animation-name: oscillate;
	-webkit-animation-duration: 15s;
	-webkit-animation-iteration-count: 10;
	-webkit-animation-direction: infinite;
	-moz-animation-name: oscillate;
	-moz-animation-duration: 15s;
	-moz-animation-iteration-count: 10;
	-moz-animation-direction: infinite;
	-o-animation-name: oscillate;
	-o-animation-duration: 15s;
	-o-animation-iteration-count: 10;
	-o-animation-direction: infinite;
	animation-name: oscillate;
	animation-duration: 15s;
	animation-iteration-count: 10;
	animation-direction: infinite;
}

@-webkit-keyframes oscillate {
	
	0% {
	
	    -webkit-transform: rotate(0deg) translate(0px,0px);
	    -webkit-transform-origin: 110px 26px;
	}
    25% {
    
	    -webkit-transform: rotate(15deg) translate(100px,0px);
	    -webkit-transform-origin: 110px 26px;
    }
    75% {
    
	    -webkit-transform: rotate(-15deg) translate(-100px,0px);;
	    -webkit-transform-origin: 110px 26px;
    }
    100% {
    
	    -webkit-transform: rotate(0deg) translate(0px,0px);;
	    -webkit-transform-origin: 110px 26px;
    }
}

@keyframes oscillate {
	
	0% {
	
	    -webkit-transform: rotate(0deg) translate(0px,0px);
	    -webkit-transform-origin: 110px 26px;
	}
    25% {
    
	    -webkit-transform: rotate(15deg) translate(100px,0px);
	    -webkit-transform-origin: 110px 26px;
    }
    75% {
    
	    -webkit-transform: rotate(-15deg) translate(-100px,0px);;
	    -webkit-transform-origin: 110px 26px;
    }
    100% {
    
	    -webkit-transform: rotate(0deg) translate(0px,0px);;
	    -webkit-transform-origin: 110px 26px;
    }
}

@-moz-keyframes oscillate {
	
	0% {
	
	    -webkit-transform: rotate(0deg) translate(0px,0px);
	    -webkit-transform-origin: 110px 26px;
	}
    25% {
    
	    -webkit-transform: rotate(15deg) translate(100px,0px);
	    -webkit-transform-origin: 110px 26px;
    }
    75% {
    
	    -webkit-transform: rotate(-15deg) translate(-100px,0px);;
	    -webkit-transform-origin: 110px 26px;
    }
    100% {
    
	    -webkit-transform: rotate(0deg) translate(0px,0px);;
	    -webkit-transform-origin: 110px 26px;
    }
}

#message {
	
	font-family: Font1;
	z-index: 1;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 222, 85);
	color: white;
	text-align: center;
}

#message div.text {
	
	width: 100%;
	height: 100%;
	margin: auto;
}